
  <div class="form-group housing_status">
    <label for="housing_status">Living situation</label>
    <select class="form-control has_other" name="housing_status">
      {% with %}
      {% set default_choice=("", "") %}
      {% set choices=CONSTANTS.HOUSING_STATUS_CHOICES %}
      {% set test_value=patient.housing_status %}
      {% include "includes/choices.html" %}
      {% endwith %}
    </select>
  </div>

  <div class="form-group {% if not patient.housing_status == "Other" %} hidden{% endif %}">
    <label for="housing_status_other">Please specify other living situation</label>
    <input type="text" class="form-control" name="housing_status_other" id="housing_status_other">
  </div>

  <div class="form-group city_or_county_of_residence service_an">
    <label>
      <span class="question_text">
        City or county of residence
      </span>
      <input type="text" class="form-control" name="city_or_county_of_residence" value="{{ patient.city_or_county_of_residence }}">
    </label>
  </div>

  <div class="form-group months_living_in_area service_an">
    <label>
      <span class="question_text">
        Months living in Richmond Area
      </span>
      <input type="number" class="form-control" name="months_living_in_area" value="{{ patient.months_living_in_area }}">
    </label>
  </div>

