{% extends "base.html" %}
{% from "includes/location_details_macro.html" import location_details %}

{# get the hardcoded service details by name #}
{% set details = CONSTANTS.SERVICES[service.name] %}

{% block title -%}
{{ service.name }} - RVA Screener
{%- endblock title %}
{% block content %}
<div class="container">
  <h1>{{ service.name }}</h1>

  <!--eligibility estimate and contact-->
  {# 
     It would be great to include an abbreviated eligibility
     results on this page, along with a share button 
   #}

  <section name="locations">
    <h2 class="section_title">{{ _("Locations") }}</h2>
  {% if details['locations'] %}
    {% for location in details['locations'] %}
    <div class="service_location">
      <h3 class="service_location_name">
       {{location.name}}
      </h3>
      {% if location.services -%}
      <ul class="location_service_list">
        {% for service in location.services -%}
        <li class="location_service">{{ service }}</li>
        {%- endfor %}
      </ul>
      {%-endif %}
      {% if location.type and location.type == 'LocationGroup' %}
        {% for sublocation in location.sublocations %}
          <div class="service_location_sublocation">
            <h4 class="service_sublocation_name">
              {{ sublocation.name }}
            </h4>
            {{ location_details(sublocation) }}
          </div>
        {% endfor %}
      {% else -%}
          {{ location_details(location) }}
      {%- endif %}
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </section>

   {# 
     each section currently displays even when there is no value, 
     so that we can see the types of questions that should be answered
   #}
  <section name="next_steps">
    <h2 class="section_title">{{ _("What are the steps to get a clinical appointment?") }}</h2>
    {% if details['next_steps'] %}
      {{ details['next_steps']|markdown|safe }}
    {% endif %}
  </section>

  <section name="eligibility">
    <h2 class="section_title">{{ _("Who is accepted and how much are the fees?") }}</h2>
    {% if details['eligibility'] %}
      {{ details['eligibility']|markdown|safe }}
    {% endif %}

  {% for scale in service.sliding_scales %}
  <h3>
    <span class="sliding_scale_name">{{ scale.scale_name }}</span>:
    <span class="sliding_scale_fpl">
    {%- if scale.fpl_high -%}
      {{ scale.fpl_low }} - {{ scale.fpl_high }}% FPL
    {%- else -%}
      {{ scale.fpl_low }}% FPL {{ _("and above") }}
    {%- endif -%}
    </span>
  </p>
  <table>
  {% for fee in scale.sliding_scale_fees -%}
    <tr>
      <td>{{ fee.name }}</td>
      <td>
      {%- if fee.price_absolute -%}
        ${{ fee.price_absolute }}
      {%- elif fee.price_percentage -%}
        {{ 100 - fee.price_percentage }}%
      {%- endif -%}
      </td>
    </tr>
  {% endfor %}
  </table>
{%- endfor %}</pre>

  </section>

  <section name="interpreters">
    <h2 class="section_title">{{ _("What if the patient does not speak English?") }}</h2>
    {% if details['interpreters'] %}
      {{ details['interpreters']|markdown|safe }}
    {% endif %}
  </section>

  <!--locations (floated, column 2)-->


</div>
{% endblock %}
